@charset "UTF-8";

/* ****** General styles ****** */
body {
	margin : 0;
	position : relative;
	font-size : 20px;
	background-color : #F0F2F5;
}

/* ***** Forms styles : register, connect ***** */
div.container {
	position : absolute;
	top: 50%;
	left: 50%;
	background-color : #FFFFFF;
	height : 320px;
	width : 458px;
	border : 1px solid #d3d3d3;
	box-shadow : 10px 10px 8px #d3d3d3;
	border-radius : 6px;	
  	transform: translate(-50%, 50%);
  	text-align : center;
}

div > form {
	padding-top : 20px;
}

div.item {
	margin-bottom : 8px;
}

span {
	color : red;
}

div.block {
	padding-top : 30px;
}

input, button {
	font-size : 17px;
	width : 80%;
	height : 25px;
	border-radius : 6px;
	padding : 14px;
	border : 1px solid #dddfe2;
}

button {
	height : 48px;
	background-color : #00a400;
}

div.separator {
	border : 1px solid #d3d3d3;
	margin-top : 30px;
	width : 50%;	
	margin-left : auto;
	margin-right : auto;
}

a {
	color : #1877F2;
	text-decoration : none;
	font-weight : bold;
}

/* ***** Error page style ***** */
div.error {
	background-color : red;
	color : gray;
}

/* ***** Home page style ***** */
div.col1 {
	background-color : blue;
}	